//app 컴포넌트
.app{
  width: 500px;
  margin: 0 auto;
}

//todotemplate 컴포넌트
.todo-template{
  h1{
  text-align: center;
  padding: 10px 0;
  background-color: rgb(231, 195, 33);
  color: #fff;
  }
}
//TodoInsert 컴포넌트
.todo-insert{
  display: flex;
  justify-content: space-between;
  

  input{
    flex: 1;
    font-size: 1.5rem;
    background-color: #222;
    color: #fff;
    outline: none;
    border: none;
    &::placeholder{
      color: #fff;
    }
  }
  button{
    background-color: #414146;
    color: #fff;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.5rem;
  }
}
//TodoList 컴포넌트
.todo-list{
  li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
    label{
      flex: 1;
      font-size: 1.2rem;
    }
    button{
      cursor: pointer;
      width: 20px;
      color:#F00;
      border: {
        radius: 50%;
        width: 1px;
        style: solid;
        color: #F00;

      }
    }
  }
  label.checked{
    text-decoration: line-through;
    color: #666;
  }
}